In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta

In [2]:
now = datetime.now()
now

datetime.datetime(2017, 2, 3, 22, 20, 41, 279010)

In [3]:
now.year, now.month, now.day

(2017, 2, 3)

In [4]:
date1=datetime(2016,4,20)
date2=datetime(2016,4,15)
delta=date1-date2

In [5]:
delta.days

5

In [6]:
delta.total_seconds()

432000.0

In [7]:
date2+delta

datetime.datetime(2016, 4, 20, 0, 0)

In [8]:
str(date2)

'2016-04-15 00:00:00'

In [9]:
date1.strftime("%Y-%m-%d")

'2016-04-20'

In [10]:
datetime.strptime('2016-01-31 09:30','%Y-%m-%d %H:%M')

datetime.datetime(2016, 1, 31, 9, 30)

In [11]:
dates=[datetime(2016,01,01),datetime(2016,01,02),datetime(2016,01,03),datetime(2016,01,04)]
s=pd.Series(np.random.randn(4),dates)
s

2016-01-01   -0.957581
2016-01-02    0.106953
2016-01-03    1.002313
2016-01-04   -0.108732
dtype: float64

In [12]:
pd.date_range('2016-01-01','2016-01-14')

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14'],
              dtype='datetime64[ns]', freq='D')

In [13]:
pd.date_range('2016-01-01',periods=2)

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq='D')

In [14]:
pd.date_range('2016-01-01','2016-12-31',freq='M')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [15]:
pd.date_range('2016-01-01',periods=5,freq='BM')

DatetimeIndex(['2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29',
               '2016-05-31'],
              dtype='datetime64[ns]', freq='BM')

In [16]:
pd.date_range('2016-01-01',periods=5,freq='4H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 04:00:00',
               '2016-01-01 08:00:00', '2016-01-01 12:00:00',
               '2016-01-01 16:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [17]:
p=pd.Period(2010,freq='M')
p

Period('2010-01', 'M')

In [18]:
p+2

Period('2010-03', 'M')

In [19]:
pd.period_range('201601',periods=10,freq='M')

PeriodIndex(['2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
             '2016-07', '2016-08', '2016-09', '2016-10'],
            dtype='period[M]', freq='M')

In [20]:
pd.period_range('2016Q1',periods=10,freq='Q')

PeriodIndex(['2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2',
             '2017Q3', '2017Q4', '2018Q1', '2018Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [21]:
a=pd.Period(2016)
a

Period('2016', 'A-DEC')

In [30]:
a.asfreq('M',how='start')

Period('2016-01', 'M')

In [22]:
a.asfreq('M')

Period('2016-12', 'M')

In [23]:
p=pd.Period('2016-04',freq='M')
p

Period('2016-04', 'M')

向上

In [31]:
p.asfreq('A-DEC')

Period('2016', 'A-DEC')

In [33]:
p.asfreq('A-DEC',how='start'),p.asfreq('A-DEC',how='end')

(Period('2016', 'A-DEC'), Period('2016', 'A-DEC'))

In [25]:
p.asfreq('A-MAR')

Period('2017', 'A-MAR')

In [26]:
p=pd.Period('2016Q4','Q-Jan')
p

Period('2016Q4', 'Q-JAN')

向下

In [27]:
p.asfreq('M',how='start'),p.asfreq('M',how='end')

(Period('2015-11', 'M'), Period('2016-01', 'M'))

In [28]:
p=pd.Period('2016Q4','Q-DEC')
p.asfreq('M',how='start'),p.asfreq('M',how='end')

(Period('2016-10', 'M'), Period('2016-12', 'M'))

In [29]:
(p.asfreq('B')-1).asfreq('T')+16*60+20

Period('2016-12-30 16:19', 'T')

In [35]:
p.asfreq('B')-1

Period('2016-12-29', 'B')

In [39]:
s=pd.Series(np.random.randn(5),index=pd.date_range('2016-04-01',periods=5,freq='M'))
s

2016-04-30   -0.596174
2016-05-31    0.121754
2016-06-30   -0.627839
2016-07-31    0.827334
2016-08-31   -0.632229
Freq: M, dtype: float64

In [47]:
s.to_period('D')

2016-04-30   -0.596174
2016-05-31    0.121754
2016-06-30   -0.627839
2016-07-31    0.827334
2016-08-31   -0.632229
Freq: D, dtype: float64

In [45]:
ts=pd.Series(np.random.randn(5),index=pd.date_range('20161229',periods=5,freq='D'))
ts

2016-12-29    0.309271
2016-12-30   -0.751258
2016-12-31    2.241227
2017-01-01    0.546465
2017-01-02   -0.673308
Freq: D, dtype: float64

In [50]:
pts=ts.to_period('M')
pts

2016-12    0.309271
2016-12   -0.751258
2016-12    2.241227
2017-01    0.546465
2017-01   -0.673308
Freq: M, dtype: float64

In [54]:
pts.groupby(level=0).sum()

2016-12    1.799239
2017-01   -0.126843
Freq: M, dtype: float64

In [56]:
pts.to_timestamp()

2016-12-01    0.309271
2016-12-01   -0.751258
2016-12-01    2.241227
2017-01-01    0.546465
2017-01-01   -0.673308
dtype: float64

In [62]:
pts[:3].to_timestamp(how='end')

2016-12-31    0.309271
2016-12-31   -0.751258
2016-12-31    2.241227
dtype: float64

In [67]:
ts=pd.Series(np.random.randint(0,50,60),index=pd.date_range('2016-04-24 9:30',periods=60,freq='T'))
ts

2016-04-24 09:30:00    10
2016-04-24 09:31:00    13
2016-04-24 09:32:00    40
2016-04-24 09:33:00    18
2016-04-24 09:34:00     0
2016-04-24 09:35:00    14
2016-04-24 09:36:00    40
2016-04-24 09:37:00    28
2016-04-24 09:38:00     7
2016-04-24 09:39:00    27
2016-04-24 09:40:00    11
2016-04-24 09:41:00    42
2016-04-24 09:42:00    31
2016-04-24 09:43:00    47
2016-04-24 09:44:00    28
2016-04-24 09:45:00    11
2016-04-24 09:46:00     8
2016-04-24 09:47:00    44
2016-04-24 09:48:00    22
2016-04-24 09:49:00     3
2016-04-24 09:50:00    37
2016-04-24 09:51:00    30
2016-04-24 09:52:00    18
2016-04-24 09:53:00    24
2016-04-24 09:54:00    28
2016-04-24 09:55:00    32
2016-04-24 09:56:00    34
2016-04-24 09:57:00    48
2016-04-24 09:58:00    14
2016-04-24 09:59:00    44
2016-04-24 10:00:00     4
2016-04-24 10:01:00    31
2016-04-24 10:02:00    18
2016-04-24 10:03:00    17
2016-04-24 10:04:00    36
2016-04-24 10:05:00    41
2016-04-24 10:06:00    31
2016-04-24 10:07:00    19
2016-04-24 10:08:00     9
2016-04-24 10:09:00    13
2016-04-24 10:10:00    46
2016-04-24 10:11:00    49
2016-04-24 10:12:00    37
2016-04-24 10:13:00    24
2016-04-24 10:14:00    38
2016-04-24 10:15:00    11
2016-04-24 10:16:00    25
2016-04-24 10:17:00    19
2016-04-24 10:18:00     0
2016-04-24 10:19:00    30
2016-04-24 10:20:00    31
2016-04-24 10:21:00    40
2016-04-24 10:22:00    40
2016-04-24 10:23:00    42
2016-04-24 10:24:00    15
2016-04-24 10:25:00    46
2016-04-24 10:26:00    35
2016-04-24 10:27:00     4
2016-04-24 10:28:00    43
2016-04-24 10:29:00     2
Freq: T, dtype: int64

In [71]:
ts.resample('5min',how='sum')
#ts.sum()

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  if __name__ == '__main__':

2016-04-24 09:30:00     81
2016-04-24 09:35:00    116
2016-04-24 09:40:00    159
2016-04-24 09:45:00     88
2016-04-24 09:50:00    137
2016-04-24 09:55:00    172
2016-04-24 10:00:00    106
2016-04-24 10:05:00    113
2016-04-24 10:10:00    194
2016-04-24 10:15:00     85
2016-04-24 10:20:00    168
2016-04-24 10:25:00    130
Freq: 5T, dtype: int64

In [73]:
ts.resample('5min',how='sum',label='right')

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  if __name__ == '__main__':

2016-04-24 09:35:00     81
2016-04-24 09:40:00    116
2016-04-24 09:45:00    159
2016-04-24 09:50:00     88
2016-04-24 09:55:00    137
2016-04-24 10:00:00    172
2016-04-24 10:05:00    106
2016-04-24 10:10:00    113
2016-04-24 10:15:00    194
2016-04-24 10:20:00     85
2016-04-24 10:25:00    168
2016-04-24 10:30:00    130
Freq: 5T, dtype: int64

In [77]:
ts.resample('5min',how='ohlc')

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).ohlc()
  if __name__ == '__main__':

                     open  high  low  close
2016-04-24 09:30:00    10    40    0      0
2016-04-24 09:35:00    14    40    7     27
2016-04-24 09:40:00    11    47   11     28
2016-04-24 09:45:00    11    44    3      3
2016-04-24 09:50:00    37    37   18     28
2016-04-24 09:55:00    32    48   14     44
2016-04-24 10:00:00     4    36    4     36
2016-04-24 10:05:00    41    41    9     13
2016-04-24 10:10:00    46    49   24     38
2016-04-24 10:15:00    11    30    0     30
2016-04-24 10:20:00    31    42   15     15
2016-04-24 10:25:00    46    46    2      2

In [78]:
ts=pd.Series(np.random.randint(0,50,100),index=pd.date_range('2016-03-01',periods=100,freq='D'))
ts

2016-03-01    40
2016-03-02    38
2016-03-03    35
2016-03-04    23
2016-03-05    22
2016-03-06    31
2016-03-07    23
2016-03-08     1
2016-03-09    39
2016-03-10    40
2016-03-11    35
2016-03-12    43
2016-03-13    17
2016-03-14    12
2016-03-15    30
2016-03-16    47
2016-03-17    43
2016-03-18    40
2016-03-19    13
2016-03-20    46
2016-03-21    31
2016-03-22     6
2016-03-23    39
2016-03-24    37
2016-03-25    39
2016-03-26     8
2016-03-27    42
2016-03-28    25
2016-03-29    39
2016-03-30    36
              ..
2016-05-10    23
2016-05-11     0
2016-05-12    48
2016-05-13     2
2016-05-14    45
2016-05-15    21
2016-05-16    29
2016-05-17     1
2016-05-18    14
2016-05-19    20
2016-05-20    31
2016-05-21    24
2016-05-22    34
2016-05-23    42
2016-05-24    11
2016-05-25    23
2016-05-26    38
2016-05-27     1
2016-05-28     2
2016-05-29    30
2016-05-30     0
2016-05-31    26
2016-06-01     3
2016-06-02    22
2016-06-03     5
2016-06-04     7
2016-06-05    17
2016-06-06    13
2016-06-07    18
2016-06-08    16
Freq: D, dtype: int64

In [79]:
ts.groupby(lambda x: x.month).sum()

3    959
4    830
5    780
6    101
dtype: int64

In [81]:
ts.groupby(ts.index.to_period('M')).sum()

2016-03    959
2016-04    830
2016-05    780
2016-06    101
Freq: M, dtype: int64

In [82]:
ts.groupby(ts.index.to_period('M')).sum().index

PeriodIndex(['2016-03', '2016-04', '2016-05', '2016-06'], dtype='period[M]', freq='M')

In [83]:
ts.groupby(lambda x: x.month).sum().index

Int64Index([3, 4, 5, 6], dtype='int64')

In [84]:
df=pd.DataFrame(np.random.randint(1,50,2),index=pd.date_range('2016-04-22',periods=2,freq='W-FRI'))
df

             0
2016-04-22  12
2016-04-29   8

In [101]:
df.resample('D',how='ohlc',fill_method='ffill')

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: FutureWarning: fill_method is deprecated to .resample()
the new syntax is .resample(...).ohlc().ffill()
  if __name__ == '__main__':

               0
            open  high   low close
2016-04-22  12.0  12.0  12.0  12.0
2016-04-23  12.0  12.0  12.0  12.0
2016-04-24  12.0  12.0  12.0  12.0
2016-04-25  12.0  12.0  12.0  12.0
2016-04-26  12.0  12.0  12.0  12.0
2016-04-27  12.0  12.0  12.0  12.0
2016-04-28  12.0  12.0  12.0  12.0
2016-04-29   8.0   8.0   8.0   8.0

In [103]:
df = pd.DataFrame(np.random.randint(2, 30, (24, 4)), 
                  index=pd.period_range('2015-01', '2016-12', freq='M'),
                  columns=list('ABCD'))
df

          A   B   C   D
2015-01   5   9  19  25
2015-02   2  21  13   3
2015-03  26  27   6  16
2015-04  21  15  19  13
2015-05  13  11   7  24
2015-06  26  12  11  24
2015-07   9   2   8   2
2015-08  25  11   4  15
2015-09  19  15  17  27
2015-10   2  11  14  21
2015-11  29   3  26   8
2015-12  20  25   6  24
2016-01   9   4   7   2
2016-02  26  22   3   8
2016-03  12  18  16  27
2016-04  28  20  13  12
2016-05  27   9  29  26
2016-06   7  26  20  17
2016-07  13   6  11  12
2016-08   5  28   4   6
2016-09   6  23   3  24
2016-10  24   6  29  11
2016-11   6   5  22  23
2016-12   7  19  11  14

In [105]:
df.resample('A-DEC',how='sum')

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  if __name__ == '__main__':

        A    B    C    D
2015  197  162  150  202
2016  170  186  168  182

In [106]:
df.resample('A-MAR',how='sum')

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  if __name__ == '__main__':

        A    B    C    D
2015   33   57   38   44
2016  211  149  138  195
2017  123  142  142  145

In [107]:
pdf=df.resample('A-DEC',how='mean')
pdf

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  if __name__ == '__main__':

              A     B     C          D
2015  16.416667  13.5  12.5  16.833333
2016  14.166667  15.5  14.0  15.166667

In [111]:
pdf.resample('Q-DEC',fill_method='ffill')

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: FutureWarning: fill_method is deprecated to .resample()
the new syntax is .resample(...).ffill()
  if __name__ == '__main__':

                A     B     C          D
2015Q1  16.416667  13.5  12.5  16.833333
2015Q2  16.416667  13.5  12.5  16.833333
2015Q3  16.416667  13.5  12.5  16.833333
2015Q4  16.416667  13.5  12.5  16.833333
2016Q1  14.166667  15.5  14.0  15.166667
2016Q2  14.166667  15.5  14.0  15.166667
2016Q3  14.166667  15.5  14.0  15.166667
2016Q4  14.166667  15.5  14.0  15.166667